body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
  display: inline-block;
  }
 
  header {
    position: absolute;
    width: 423px;
    height: 65px;
    left: 0;
    top: 0;
    background: rgb(61, 60, 59);
  }
  
  .hero {
    background: rgb(32, 30, 29);
    background-image: url(./Illustration.png);
    display: flex;
    background-position: 100% 100%;
    flex-direction: column;
    background-repeat: no-repeat;
    padding: 20px 24px 5px 24px;
    position: absolute;
    width: 375px;
    height: 590px;
    left: 0;
    top: 65px;
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: rgb(255, 245, 225);
    font-family: 'Poppins', serif;
    margin-left: 1em;
    text-decoration: none;
  }
  
  nav ul li {
    margin-right: 2em;
  }
  
  .int {
    width: 327px;
    height: 124px;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #f96800;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  h3 {
    width: 327px;
    height: 27px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: rgb(253, 245, 230);
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .descript {
    width: 327px;
    height: 123px;
    font-family: 'Tiro Telugu', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    flex: none;
    order: 2;
    flex-grow: 0;
  }
  
  .icon:hover {
    background-color: rgb(140, 140, 154);
  }
  
  .soc-ico ul {
    padding: 0;
  }