@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
    --main-text-color: white;
    --primary-template-color: #fb6902;
    --secondary-template-color: #211e1d;
    --font-family-Crete-Round: "Crete Round", serif;
    --section-main-padding: 50px;
}

.container {
    margin: 0 auto;
    padding: 0 12px;
}
/* mobile */
@media (max-width: 768px) {
    .container {
        width: calc(100% - 13%);
    }
}
/* desktop */
@media (min-width: 768px) {
    .container {
        width: calc(100% - 21.3194444444%);
    }
}

body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.headline {
    background-color: var(--secondary-template-color);
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.desktopbackimg {
    display: none;
}

.headline .img {
    position: absolute;
    top: 45%;
    right: 0;
}

.headline .headline-container .p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.headline .headline-container .p h1 {
    margin: 0;
    font-size: 56px;
    font-family: var(--font-family-Crete-Round);
    font-weight: 400;
    color: var(--primary-template-color);
    margin-bottom: 15px;
}

.headline .headline-container .p h3 {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: var(--main-text-color);
    margin: 0;
}

.headline .headline-container .p p {
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    line-height: 24px;
}

.headline .headline-container .soc-icons {
    display: flex;
    justify-content: space-between;
    width: 55%;
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

@media (min-width: 768px) {
    .headline .desktopbackimg {
        display: block;
        position: absolute;
        top: 185px;
        right: -80px;
    }

    .headline .img {
        display: none;
    }

    .headline .headline-container .p {
        width: 50%;
    }

    .headline .headline-container .soc-icons {
        position: absolute;
        top: 28%;
        left: 2%;
        flex-direction: column;
        margin-top: -4px;
        height: 25%;
    }
}

#work {
    padding-top: var(--section-main-padding);
    padding-bottom: var(--section-main-padding);
}

#work .container .sechr {
    margin: 0 auto 80px;
    text-align: center;
}

#work .container .sechr h1 {
    font-size: 40px;
    font-family: var(--font-family-Crete-Round);
    font-weight: 400;
    margin-bottom: 50px;
}

#work .container .sechr .hr {
    border-color: #282828;
    border-width: 1px 0 0 0;
}

#work .container .projects {
    display: flex;
    flex-direction: column;
}

#work .container .projects .main-project .post {
    width: 100%;
}

#work .container .projects .main-project h3 {
    font-size: 32px;
    font-family: var(--font-family-Crete-Round);
    font-weight: 400;
    margin: 15px 0;
    color: #081d41;
}

#work .container .projects .main-project .paragraph {
    font-family: "Inter", sans-serif;
    line-height: 24px;
    color: #081d41;
}

#work .container .projects .main-project .langs {
    list-style: none;
    padding: 0;
}

#work .container .projects .main-project .langs .lang {
    width: fit-content;
    display: inline-block;
    margin-right: 10px;
    border: solid 1px #8a95a8;
    padding: 10px 12px;
    text-align: center;
}

#work .container .projects .main-project .langs .lang a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #081d41;
    font-size: 15px;
}

#work .container .projects .main-project .see-project {
    padding: 12px;
    background-color: var(--primary-template-color);
    border: solid 1px white;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.5px;
}

#work .container .projects .main-project .see-project:hover {
    background-color: #fbf1dc;
    border: solid 1px var(--primary-template-color);
    color: var(--primary-template-color);
}

#work .container .projects .main-project .see-project:active {
    background-color: #dc5304;
    border: solid 1px white;
    color: white;
}

@media (min-width: 768px) {
    #work .container .sechr {
        display: flex;
        align-items: center;
        margin: 0 auto 50px;
    }

    #work .container .sechr h1 {
        width: 40%;
    }

    #work .container .sechr .hr {
        width: 60%;
        margin-bottom: 25px;
    }

    #work .container .projects .main-project .post {
        width: calc(60% - 12px);
    }

    .main-article {
        display: flex;
        justify-content: space-between;
    }

    .main-article .project-p {
        width: calc(40% - 12px);
    }
}

#work .container .projects .secondary-projects {
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
}

#work .container .projects .secondary-projects .project {
    overflow: hidden;
    position: relative;
    height: 400px;
}

#work .container .projects .secondary-projects .img-1 {
    background-image: url(img/Work/1stback.svg);
    background-size: cover;
}

#work .container .projects .secondary-projects .img-2 {
    background-image: url(img/Work/2ndback.svg);
    background-size: cover;
}

#work .container .projects .secondary-projects .img-3 {
    background-image: url(img/Work/3rdback.svg);
    background-size: cover;
}

#work .container .projects .secondary-projects .project .over {
    content: "";
    background-image: linear-gradient(#26262600, #262626e5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#work .projects .secondary-projects .project .over .project-p {
    padding: 16px 16px 0;
}

#work .container .projects .secondary-projects .project h2 {
    font-size: 32px;
    font-family: var(--font-family-Crete-Round);
    font-weight: 400;
    margin: 72px 0 0;
    color: white;
}

#work .container .projects .secondary-projects .project p {
    font-family: "Inter", sans-serif;
    line-height: 24px;
    color: white;
    margin: 12px 0 0;
    font-weight: 300;
}

#work .container .projects .secondary-projects .project ul {
    list-style: none;
    padding: 0;
}

#work .container .projects .secondary-projects .project ul li {
    width: fit-content;
    display: inline-block;
    margin-right: 0;
    background-color: rgba(255, 255, 255, 0.204);
    padding: 10px 12px;
    text-align: center;
}

#work .container .projects .secondary-projects .project ul li .a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: white;
    font-size: 15px;
}

#work .container .projects .secondary-projects .project button {
    padding: 12px 0;
    background-color: var(--primary-template-color);
    border: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.5px;
    width: calc(100% + 20%);
    position: relative;
    top: 90%;
    left: -10%;
    transition: 0.3s;
}

@media (min-width: 768px) {
    #work .container .projects .secondary-projects .project .over {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    #work .projects .secondary-projects .over .project-p {
        padding: 10px;
    }

    #work .container .projects .secondary-projects .project button {
        top: 100%;
    }

    #work .container .projects .secondary-projects .project:hover button {
        top: 89%;
    }

    #work .projects .secondary-projects .project:hover .over {
        display: none;
    }

    #work .container .projects .secondary-projects .project ul li {
        margin-right: 4px;
    }
}

@media (max-width: 619px) {
    #work .container .projects .secondary-projects .project ul li {
        margin-right: 10px;
    }
}

#about {
    background-color: var(--secondary-template-color);
    padding-top: var(--section-main-padding);
    padding-bottom: var(--section-main-padding);
    position: relative;
}

.about-me-main {
    width: 50%;
}

#about .mobile-Illustr {
    position: absolute;
    bottom: 65%;
    right: 0;
}

#about .desktop-Illustr {
    display: none;
}

#about hr {
    border: solid 1px white;
    margin-top: 60%;
}

#about .container .about-me h1 {
    font-size: 72px;
    font-family: var(--font-family-Crete-Round);
    font-weight: 400;
    text-align: center;
    color: var(--primary-template-color);
}

#about .container .about-me > .paragraph2 {
    line-height: 24px;
    font-family: "Inter", sans-serif;
    color: white;
}

#about .container .about-me > .button2 {
    padding: 13px 10px;
    background-color: var(--primary-template-color);
    border: solid 1px #1c1a19;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.5px;
}

#about .container .about-me > .button2:hover {
    background-color: #fff5e1;
    border: solid 1px var(--primary-template-color);
    color: var(--primary-template-color);
}

#about .container .about-me > .button2:active {
    background-color: #e35707;
    border: solid 1px #1c1a19;
    color: white;
}

#about .container .my-skills {
    padding-top: 30%;
    text-align: center;
}

#about .container .my-skills ul .lang {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
}

#about .container .my-skills > ul > li {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin: 12px;
}

#about .container .my-skills ul li li {
    font-size: 22px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin: 16px;
}

#about .container .my-skills ul li li:first-child {
    font-size: 22px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-top: 32px;
}

#about .container .my-skills ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
}

@media (min-width: 768px) {
    #about .desktop-Illustr {
        display: block;
        top: 5%;
        right: 0;
        position: absolute;
        width: 47%;
    }

    #about .mobile-Illustr {
        display: none;
    }

    #about hr {
        border: solid 1px white;
        margin-top: 15%;
    }

    #about .container .about-me {
        width: 55%;
    }

    #about .container .about-me h1 {
        text-align: left;
        margin-bottom: 25px;
    }

    #about .container .about-me > .button2 {
        margin-top: 25px;
    }

    #about .container .my-skills {
        padding-top: 15%;
    }

    #about .container .my-skills ul {
        list-style: none;
        margin: 0;
        padding: 0;
        color: white;
        display: flex;
        justify-content: space-between;
    }

    #about .container .my-skills ul .lang {
        list-style: none;
        margin: 0;
        padding: 0;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}

#contact {
    margin-top: var(--section-main-padding);
    margin-bottom: var(--section-main-padding);
}

#contact .container {
    display: flex;
    flex-direction: column;
}

#contact .contact-header {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #262626;
    margin-bottom: 60px;
    font-family: "Inter", sans-serif;
}

#contact form .info-mail input {
    border: none;
    background-color: white;
    width: 100%;
    border-bottom: solid 1px grey;
    padding: 5px;
    margin-bottom: 15px;
    text-indent: 5px;
    font-family: "Inter", sans-serif;
    outline: none;
}

#contact form .text-info-div .info-mail:last-child input {
    display: none;
}

#contact form textarea {
    width: 100%;
    height: 114px;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    border: none;
    background-color: #fbf8f7;
}

#contact form textarea::placeholder {
    color: black;
    font-weight: 500;
    font-size: 15px;
    text-indent: 10px;
    line-height: 30px;
    font-family: "Inter", sans-serif;
}

form button {
    padding: 12px;
    gap: 10px;
    width: 131px;
    height: 48px;
}

button {
    color: #ffffff;
    background: #ff6b00;
    border: none;
    padding: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
}

#contact form .submit {
    display: flex;
    justify-content: center;
}

#contact form .submit input {
    padding: 13px;
    background-color: var(--primary-template-color);
    border: solid 1px white;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.5px;
    width: 50%;
    display: block;
}

#contact form .submit input:hover {
    background-color: #fff5e1;
    border: solid 1px var(--primary-template-color);
    color: var(--primary-template-color);
}

#contact form .submit input:active {
    background-color: #e05304;
    border: solid 1px white;
    color: white;
}

@media (min-width: 768px) {
    #contact .container {
        display: flex;
        flex-direction: row;
    }

    #contact .contact-header {
        font-size: 32px;
        font-weight: bold;
        color: #172b4d;
        margin-bottom: 60px;
        text-align: left;
        width: 40%;
        margin-right: 5%;
    }

    #contact form {
        width: 60%;
    }

    #contact form .text-info-div {
        display: flex;
        justify-content: space-between;
    }

    #contact form .text-info-div .info-mail {
        flex-basis: 47%;
    }

    #contact form .text-info-div .info-mail:last-child input {
        display: block;
    }

    #contact form .submit {
        display: flex;
        justify-content: start;
    }

    #contact form .submit input {
        width: 25%;
    }
}

.footer {
    border-top: solid 1px #dfe1e6;
    margin-top: 130px;
}

.footer .soc-icons {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 25px auto 25px;
    padding: 0;
    width: 43%;
    position: relative;
}

.footer .soc-icons::after {
    content: "";
    height: 5px;
    border-radius: 10px;
    width: 75%;
    background-color: #0d151e;
    position: absolute;
    bottom: -21px;
    left: 12.5%;
}

@media (min-width: 768px) {
    .footer .soc-icons {
        width: 15%;
    }

    .footer .soc-icons::after {
        display: none;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    background: #3c3a39;
    height: 72px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.nav-menu {
    position: absolute;
    left: -150%;
    top: -20px;
    padding-top: 15%;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    background: #3c3a39;
    z-index: 10;
}

.cancel-menu {
    position: absolute;
    top: 35px;
    display: flex;
    right: 30px;
}

.divider-menu {
    border-top: 1px solid #6f6c6b;
    width: 90%;
}

.nav-item {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
}

.nav-item a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}

.nav-menu.active {
    left: 0;
}

#desktop-header {
    display: none;
}

li {
    list-style: none;
    display: inline-block;
}

header {
    height: 72px;
    background: #3c3a39;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff5e1;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin-left: 1em;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

nav ul li {
    margin-right: 2em;
}

@media (min-width: 768px) {
    .top {
        display: none;
    }

    .logo {
        color: #fff5e1;
        font-family: 'Inter', serif;
        text-decoration: none;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        margin-left: 4%;
    }

    #navigation ul {
        display: flex;
    }

    #navigation ul a {
        color: #ffffff;
        text-decoration: none;
    }

    #navigation ul li {
        padding-right: 9%;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        font-family: 'Inter', serif;
    }

    #desktop-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
    }
}
/* modal */
/*

*, *::after, *::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: white;
    width: 90%;
    height: 90%;
    padding-top: var(--section-main-padding);
    padding-bottom: var(--section-main-padding);
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 768px) {
    .modal-header .mobile-only {
        position: relative;
        left: 2%;
        font-size: 25px;
        font-family: var(--font-family-Crete-Round);
        font-weight: 100;
        color: #081d41;
        bottom: 45%;
    }

    .modal-header h2 {
        display: none;
    }
}

.modal-header {
    padding: 10px 15px;
    display: flex;
}

@media (min-width: 768px) {
    .modal-header h2 {
        position: relative;
        left: 2%;
        font-size: 30px;
        font-family: var(--font-family-Crete-Round);
        font-weight: 300;
        color: #081d41;
        bottom: 45%;
    }

    .mobile-only {
        display: none;
    }
}

.modal-header .close-button {
    position: absolute;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    top: 2%;
    right: 2%;
}

.modal .modal-header .project-b .slang {
    list-style: none;
    padding: 0;
}

.modal .modal-header .project-b .slang .slang2 {
    position: relative;
    top: -70px;
    left: 2%;
    width: fit-content;
    display: inline-block;
    margin-right: 10px;
    margin-top: 0;
    border: solid 1px #8a95a8;
    padding: 10px 12px;
    text-align: center;
}

.modal .modal-header .project-b .slang .slang2 .n {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #081d41;
    font-size: 15px;
}

 body buddy

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

@media (min-width: 768px) {
    .modal .modal-img {
        width: calc(60% - 12px);
        position: absolute;
        left: 2%;
        max-width: 55%;
        object-fit: fill;
        height: 80%;
        top: 14%;
    }

    .modal-body .pop-btn {
        position: relative;
        padding: 12px 0;
        background-color: var(--primary-template-color);
        border: none;
        color: white;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0.5px;
        width: 35%;
        height: 6%;
        transition: 0.3s;
        top: 7%;
        right: -40%;
        text-align: center;
    }

    .modal-body .bts {
        position: relative;
        padding: 12px 0;
        background-color: var(--primary-template-color);
        border: none;
        color: white;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0.5px;
        width: 35%;
        height: 6%;
        transition: 0.3s;
        top: 1%;
        right: -1%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    .modal-body {
        position: relative;
        align-items: center;
        padding: 20px;
        width: 40%;
        top: -5%;
        right: -58%;
        height: 87.5%;
    }

    .modal-body .paragraphb {
        font-family: "Inter", sans-serif;
        line-height: 24px;
        color: #081d41;
        display: flex;
    }
}

@media (max-width: 768px) {

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 200ms ease-in-out;
        z-index: 10;
        background-color: white;
        width: 90%;
        height: 100%;
        padding-top: var(--section-main-padding);
        padding-bottom: var(--section-main-padding);
    }

    .modal .modal-img {
        width: calc(100% - 13%);
        position: absolute;
        max-width: 95%;
        object-fit: fill;
        height: 80%;
        top: -7%;
    }

    .modal-body .pop-btn {
        position: relative;
        padding: 12px 0;
        background-color: var(--primary-template-color);
        border: none;
        color: white;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0.5px;
        width: 45%;
        height: 15%;
        transition: 0.3s;
        top: 3%;
        right: -55%;
        text-align: center;
    }

    .modal-body .bts {
        position: relative;
        padding: 12px 0;
        background-color: var(--primary-template-color);
        border: none;
        color: white;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0.5px;
        width: 45%;
        height: 15%;
        transition: 0.3s;
        top: -12%;
        right: -1%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    .modal-body {
        position: relative;
        align-items: center;
        padding: 10px;
        width: 90%;
        height: 40%;
        top: 25%;
    }

    .modal-body .paragraphb {
        font-family: "Inter", sans-serif;
        line-height: 24px;
        color: #081d41;
        display: flex;
    }
}
*/

.cd {
    display: block;
}

.modal-labels {
    padding: 1%;
    margin: 1%;
}

.modal .language {
    height: 5%;
    padding: 2%;
    margin-bottom: 0%;
    border: 1px solid black;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #3c3a39;
}

.modal-center {
    display: flex;
    padding: 0%;
    margin: 0%;
}

.modal-left {
    display: flex;
    flex-direction: column;
    min-width: 55%;
    max-height: 100%;
}

.modal-right {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    padding: 3%;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: white;
    width: 90%;
    max-width: 90%;
    height: 85%;
    padding-bottom: 15%;
    overflow: hidden;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 0% 3%;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.modal h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}

.modal-body {
    padding-left: 3%;
}

.close-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 30px;
    font-weight: bold;
    color: #67798e;
}

.close-button:hover {
    background: none;
    cursor: pointer;
    color: #67798e;
}

.modal img {
    width: 100%;
    min-width: 60%;
}

.modal p {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    text-align: justify;
    height: 15%;
    padding: 0%;
    margin: 0%;
    padding-bottom: 5%;
    margin-bottom: auto;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-bottom {
    width: 100%;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-direction: row;
    margin-top: auto;
}

.modal-button {
    width: 120%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 12px;
    gap: 1%;
}

.modal-bottom a {
    text-decoration: none;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

@media (min-width: 768px) {

    .cm {
        display: none;
    }
}

@media (max-width: 768px) {

    .cd {
        display: none;
    }
    .modal-center {
        display: flex;
        padding: 0%;
        margin: 0%;
    }

    .modal-left {
        display: flex;
        flex-direction: column;
        min-width: 55%;
        max-height: 100%;
    }

    .modal-right {
        position: fixed;
        bottom: 12%;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        padding: 0%;
    }

    .modal p {
        position: fixed;
        top: 55%;
        padding: 1%;
        margin: 1%;
        padding-bottom: 5%;
        width: 95%;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #344563;
        text-align: justify;
        height: 10%;
    }

    .modal {
        position: fixed;
        top: 47%;
        left: 47%;
        transform: translate(-50%, -50%) scale(0);
        transition: 200ms ease-in-out;
        z-index: 10;
        background-color: white;
        max-width: 85%;
        height: 85%;
        padding-bottom: 15%;
        overflow: hidden;
    }

    .modal-body {
        padding-left: 0.5%;
    }

    .close-button {
        position: absolute;
        right: 3%;
        top: 1.5%;
        background: none;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        font-size: 30px;
        font-weight: bold;
        color: #67798e;
    }

    .close-button:hover {
        background: none;
        cursor: pointer;
        color: #67798e;
    }

    .modal img {
        width: 95%;
        align-self: center;
        min-width: 60%;
    }

    .modal.active {
        transform: translate(-50%, -50%) scale(1);
    }

    .modal-bottom {
        position: fixed;
        padding-bottom: 10%;
        justify-content: space-between;
        gap: 2px;
        padding-left: 2%;
    }

    .modal-button {
        width: 100%;
        align-content: center;
        padding: 12px;
    }
}

#error {
    position: absolute;
    right: 30%;
    color: #e78139;
    font-weight: bold;
}
